@charset "utf-8";

body{
  margin: 0;
}

main{
  overflow: hidden;
  height: calc(100vh - 93px);
}

/*======== ヘッダー ==========*/
header{
  height: 40px;
  /* display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #A5A5A5; */
}

/* .language{
  flex: 1;
  text-align: center;
  color: #666666;
} */

/* ------言語設定ボタン------ */

button {
    /*右上固定*/
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.content {
  display: none;
}

.content.active {
  display: block;
}

/* .btn{

}

.switch__label {
  width: 150px;
  position: relative;
  display: inline-block;
}
.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 38px;
  overflow: hidden;
}
.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1.5px solid #E5E5EA;
  border-radius: 30px;
  background-color: #40BF4A;
}
.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.switch__input {
  display: none;
}
.switch__circle {
  display: block;
  top: 4px;
  left: 8px;
  position: absolute;
  -webkit-box-shadow: 0 3px 6px #999;
          box-shadow: 0 3px 6px #999;
  width: 28px;
  height: 28px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
  left: 115px;
}
.switch__input:checked ~ .switch__content:after {
  background-color: #FFD500;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

/*======== ３カラム横並び ==========*/
.container {
  display: grid;
  grid-template-columns: 12% 28% 60%;
}

#column {
  flex: 1;
  position: relative;
  padding: 10px;
}

/* --カラム間の縦線-- */
#column:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 1px;
  height: 87vh;
  background-color: #A5A5A5;
}

/*======== 左カテゴリーカラム ==========*/
.left_category{
  max-width: 80px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.category_circle{
  width: 40px;
  height: 40px;
  max-width: 80px;
  border-radius: 50%;
  margin: 15px 20px 5px;
}

.category_name{
  font-size: 17px;
  /* color: black;
  text-decoration: none; */
}

#list{
  font-size: 10px;
  list-style: none;
  text-align: center;
}

/* -------- */
.middle_block{
  overflow-y: auto;
}

h2{
  font-size: 17px;
}
/* ---------icon color--------- */

.motion{
  background: #4C97FF;
  border: 1px solid #3373CC;
}
.looks{
  background: #9966FF;
  border: 1px solid #774DCB;
}
.sound{
  background: #D65CD6;
  border: 1px solid #BD42BD;
}
.event{
  background: #FFD500;
  border: 1px solid #CC9900;
}
.control{
  background: #FFAB19;
  border: 1px solid #CF8B17;
}
.research{
  background: #4CBFE6;
  border: 1px solid #2E8EB8;
}
.Calculation{
  background: #40BF4A;
  border: 1px solid #389438;
}
.variable{
  background: #FF8C1A;
  border: 1px solid #DB6E00;
}
.constant{
  background: #FF6680;
  border: 1px solid #FF4D6A;
}

/*======== 真ん中ブロックカラム ==========*/
.middle_block{
  max-width: 300px;
}

/*======== 右説明カラム ==========*/
.right_explanation{
  overflow-y: auto;
}